$sectionWishColor: #ff9797;
$sectionGiveColor: #FFC78B;
$sectionExchangeColor: #01B468;
$sectionTitleColor: #FFFFFF;

/* sectionSlider設定 */

#sectionSlider {
    border: 1px dotted #87CEFA;
    padding: 0px;
}

.item img {
    max-width: 100%;
}
/* sectionContent設定 */

#sectionContent {
    border: 1px dotted #87CEFA;
}


/* sectionContent div設定 */

#sectionContent div {
    border: 1px dotted #87CEFA;
}
/* 標題背景色 */
#wishTitle {
    background-color: $sectionWishColor;
}

#giveTitle {
    background-color: $sectionGiveColor;
}

#exchangeTitle {
    background-color: $sectionExchangeColor;
}
/* 標題樣式 */
.sectionTitle{
    margin-top: 20px;
    a {
        color: $sectionTitleColor;
        font-weight: bolder;
    }    
    a:hover, a:focus {
        text-decoration: none;
    }
}