$bodyBg: #f8fbf9;

$sectionWishColor: #ff9797;
$sectionGiveColor: #ffaf5a;
$sectionExchangeColor: #06c574;

$sectionTitleColor: #FFFFFF;
$sectionOverlayColor: rgba(0, 0, 0, 0.5);

$wishItem: #f8f7f7;

$itemByText: #543939;
$itemByTextMonth: #01B468;
$itemNameText: #888888;


body {
	background-color: $bodyBg;
}

@media (min-width: 1300px) {
	.container {
		width: 1500px;
	}
}


/* sectionSlider設定 */

#sectionSlider {
	margin-top: 30px;
}


/* 幻燈片圖片尺寸 */

.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	.glyphicon.glyphicon-chevron-left {
		text-shadow: 2px 4px #46463d;
	}
}

.carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	.glyphicon.glyphicon-chevron-right {
		text-shadow: -2px 4px #46463d;
	}
}


/* 標題背景色及右邊文字樣式 */

#wishTitle {
	border: 1px solid darken($sectionWishColor, 10%);
	background-color: lighten($sectionWishColor, 50%) ;
	.titleLeft {
		color: darken($sectionWishColor, 20%);
	}
	.titleRight {
		color: $sectionWishColor;
	}
}

#giveTitle {
	border: 1px solid darken($sectionGiveColor, 10%);
	background-color: lighten($sectionGiveColor, 50%);
	.titleLeft {
		color:  darken($sectionGiveColor, 20%);
	}
	.titleRight {
		color: $sectionGiveColor;
	}
}

#exchangeTitle {
	border: 1px solid darken($sectionExchangeColor, 10%);
	background-color: lighten($sectionExchangeColor, 50%);
	.titleLeft {
		color: darken($sectionExchangeColor, 20%);
	}
	.titleRight {
		color: $sectionExchangeColor;
	}
}


/* 物資區塊背景色及右邊文字樣式 */

#wishContent,
#giveContent,
#exchangeContent {
	margin-bottom: 200px;
}


/* 標題及左邊文字樣式 */

.sectionTitle {
	margin: 60px 0 60px 0;
	border-radius: 5px;
	.titleLeft {
		font-size: 23px;
		line-height: 40px;
		.titleLeftText {
			padding-left: 15px;
		}
	}
	.titleRight {
		font-size: 19px;
		line-height: 40px;
	}
}


/* 滑鼠移至物資 */

.itemA {
	position: relative;
	display: block;
	border-radius: 5px;
	overflow: hidden;
}

.itemA:hover .itemOverlay {
	opacity: 0.9;
}

.itemOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	opacity: 0;
	border-radius: 5px;
	background-color: $sectionOverlayColor;
	transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	color: $sectionTitleColor;
	font-size: medium;
}


/* 物資文字樣式 */

.wishItem,
.giveItem,
.exchangeItem {
	background-color: $wishItem;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	.itemContent {
		letter-spacing: 2px;
		margin-top: 5px;
		margin-top: 5px;
		padding-bottom: 15px;
	}
	.itemName {
		font-size: 17px;
		padding: 15px 15px 40px 15px;
		a {
			color: $itemNameText;
			h6 span {
				color: $itemByTextMonth;
			}
			h5 span {
				color: darken($itemNameText, 100%);
			}
		}
	}
	.itemBy {
		font-size: 13px;
		padding: 15px 15px 15px 15px;
		a {
			color: $itemByText;
		}
	}
}