$sectionOverlayColor: rgba(0, 0, 0, 0.5);
$sectionTitleColor: #FFFFFF;
$byBg: #ffb8b8;
$classBg: #feb36b;
$locBg: #b25cc1;
$wishGoods: #f8f7f7;
$wishGoodsByText: #543939;
$wishGoodsByTextMonth: #01B468;
$wishGoodsNameText: #888888;
$sectionfilter: #fff4f4;
#sectionWish {
	margin-top: 30px;
	font-size: 18px;
	min-height: calc(100vh - 336px);
	/* 左邊條件篩選區 */
	#sectionfilter {
		position: fixed;
		left: 0;
		padding-top: 10px;
		background-color: $sectionfilter;
		overflow-y: scroll;
		transition: left 0.4s ease-in-out;
		// Bootstrap3 fix z-index: 1030;
		z-index: 1031;
		// xs
		top: 80px;
		height: calc(100vh - 80px);
		// sm
		@media screen and (min-width: 768px) {
			top: 160px;
			height: calc(100vh - 160px);
		}
		// md
		@media screen and (min-width: 992px) {
			top: 80px;
			height: calc(100vh - 80px);
		}
		// lg
		@media screen and (min-width: 1200px) {
			top: 80px;
			height: calc(100vh - 80px);
		}

		/* 搜尋 */
		#blockKWSearch {
			position: relative;
			margin: 10px 0 10px 0;
			/* 搜尋輸入框 */
			#searchInput {
				width: 150px;
				padding: 5px 5px 5px 40px;
				transition: .5s;
				&:focus {
					width: 100%;
					transition: .1s;
				}
			}
			/* 搜尋鈕圖式 */
			#btKWSearch {
				position: absolute;
				top: 13%;
				left: 3%;
				cursor: pointer;
				margin-bottom: 10px;
			}
		}

		/* 條件區塊樣式 */
		.blockFilter {
			/* 條件標題樣式 */
			.btFilterTitle {
				padding-left: 20px;
				height: 60px;
				font-size: 18px;
				text-align: left;
				border-radius: 0;
				border-left: 15px solid;
				// border-color:  #ffb8b8;
				&:hover, &:focus {
					outline-color: rgba(255, 255, 255, 0);
					color: snow;
					transition: .5s;
				}
			}
			/* 條件選項樣式 */
			.btFilterBlock>ul {
				padding: 5px 5px 5px 20px;
				margin-bottom: 0;
				// background-color: #ffd2d2;
				>li {
					display: inline-block;
					width: 44%;
					margin: 5px;
					/* 條件選項按鈕 */
					.btnFilterType {
						// background-color: #ee4444;
						width: 100%;
						font-size: 16px;
						color: #f5f5f5;
					}
				}
			}
			/* 需求者身分 */
			#btBy {
				border-color: $byBg;
				&:hover, &:focus {
					background-color: darken($byBg, 5%);
				}
			}
			#blockBy {
				background-color: lighten($byBg, 5%);
				.btnFilterType {
					background-color: darken($byBg, 5%);
				}
			}
			/* 需求者身分 */
			#btClass {
				border-color: $classBg;
				&:hover, &:focus {
					background-color: darken($classBg, 5%);
				}
			}
			#blockClass {
				background-color: lighten($classBg, 10%);
				.btnFilterType {
					background-color: darken($classBg, 10%);
				}
			}
			/* 需求者身分 */
			#btLoc {
				border-color: $locBg;
				&:hover, &:focus {
					background-color: darken($locBg, 5%);
				}
			}
			#blockLoc {
				background-color: lighten($locBg, 10%);
				.btnFilterType {
					background-color: darken($locBg, 10%);
				}
			}
		}
	}
}
/* 滑鼠移至物資 */

.wishGoodsA {
	position: relative;
	display: block;
	border-radius: 5px;
	overflow: hidden;
}

.wishGoodsA:hover .wishGoodsOverlay {
	opacity: 0.9;
}

.wishGoodsOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	opacity: 0;
	border-radius: 5px;
	background-color: $sectionOverlayColor;
	transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	color: $sectionTitleColor;
}


/* 物資圖片樣式 */

.wishGoodsImg {
	margin: auto;
	height: 300px;
	@media screen and (min-width: 950px) and (max-width:1200px) {
		height: 250px;
	}
	@media screen and (min-width:700px) and (max-width:949px) {
		height: 150px;
	}
}


/* 物資文字樣式 */

.wishGoods {
	background-color: $wishGoods;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	.wishGoodsContent {
		letter-spacing: 2px;
		margin-top: 5px;
	}
	.wishGoodsName {
		font-size: 16px;
		padding-left: 10px;
	}
	.wishGoodsBy {
		font-size: 13px;
		padding-left: 10px;
	}
	.wishGoodsDesc {
		font-size: 15px;
		padding-left: 10px;
	}
}